body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./mario-bg.jpg");
    background-size: cover;
}

#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* Media Queries for responsiveness */
@media (max-width: 768px) {
    body {
        background: url(./mario-bg-tab.png);
        background-size:cover;
        background-position: top;
    }
    #board {
        width: 360px;
        height: 360px;
    }
    #board div {
        width: 120px;
        height: 120px;
    }
    #board div img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 480px) {
    body {
        background: url("./mario-bg-ph.png");
        background-size: cover;
        background-position: top;
    }
    #board {
        width: 270px;
        height: 270px;
    }
    #board div {
        width: 90px;
        height: 90px;
    }
    #board div img {
        width: 50px;
        height: 50px;
    }
}